header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #cc0000;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
}

#nav-bar {
    text-align: right;
    text-indent: 15%;
    nav-right:auto
}

@media (max-width: 500px) {
    #header {
      flex-direction: column;
    }
    
    #header-img {
      display: none;
    }
    #logo {
      text-align: center
    }
   
    #logo {
      padding: 10px;
    }
    #nav-bar {
      width: 90%;
      height: 40px;
      justify-content: space-around;
    }
      
   }

   .section {
       display: flex;
   }